@import '../../styles/mixins';

.root {
  margin-top: 112px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media(xs) {
    padding: 0 8vw;
  }

  @include media(sm) {
    padding: 0 8vw;
  }
}

.title {
  font-weight: 700;
  font-size: 4.125em;

  @include media(xs) {
    font-size: 3.125em;
  }
}

.infoContainer {
  max-width: 800px;
  margin: 24px 0px;
  display: flex;

  @include media(xs) {
    flex-direction: column;
    align-items: center;
  }

  @include media(sm) {
    flex-direction: column;
    align-items: center;
  }

  @include media(md) {
    flex-direction: row;
    // align-items: center;
  }
}

.textContainer {
  margin-right: 48px;

  @include media(xs) {
    margin-right: 0;
  }

  @include media(sm) {
    margin-right: 0;
  }

  @include media(md) {
    margin-right: 48px;
  }
}

.info {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 24px;
}

.imgAbout {
  border-radius: 8px;

  @include media(xs) {
    width: 100%;
  }

  @include media(sm) {
    width: 100%;
  }

  @include media(md) {
    width: 400px;
  }

  @include media(lg) {
    width: 400px;
  }

  @include media(xl) {
    width: 400px;
  }
}

.yellow {
  color: #ffe207;
}

.blue {
  color: #070dff;
}

.red {
  color: #ff0707;
}
