@import '../../../styles/mixins';

.root {
  position: fixed;
  width: 100vw;
  top: 0;
  padding: 24px 0;
  background-color: $Primary;
  font-weight: 700;
  z-index: 1500;
}

.ulRoot {
  list-style: none;
  display: flex;
  margin: 0 6vw;
  justify-content: space-between;
}

.ul {
  list-style: none;
  display: flex;
}

.link {
  margin: 0 8px;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.navLink {
  color: gray;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    color: #fff;
  }
}

.navLinkActive {
  color: #fff;
}

.nav {
  // @include media(xs) {
  //   display: none;
  // }
}
