{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true // permite a eslint analizar los archivos jsx o tsx
		}
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"plugin:jsx-a11y/recommended",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended" // Make sure this is always the last element in the array.
	],
	"plugins": ["simple-import-sort"],
	"env": {
		"browser": true, // Enables browser globals like window and document
		"amd": true, // Enables require() and define() as global variables as per the amd spec.
		"node": true // Enables Node.js global variables and Node.js scoping.
	},
	"rules": {
		"prettier/prettier": ["error", {}, { "usePrettierrc": true }], // Use our .prettierrc file as source
		"react/react-in-jsx-scope": "off",
		"react/prop-types": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"simple-import-sort/sort": "error",
		"jsx-a11y/anchor-is-valid": [
			"error",
			{
				"components": ["Link"],
				"specialLink": ["hrefLeft", "hrefRight"],
				"aspects": ["invalidHref", "preferButton"]
			}
		]

		// Aca puedes modificar alguna regla específica, por ejemplo:
		// "@typescript-eslint/explicit-function-return-type": "off",
	},
	"settings": {
		"react": {
			"version": "detect" // para detectar la versión de reactjs
		}
	}
}
