@import './variables';

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $media == lg {
    @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
      @content;
    }
  } @else if $media == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}

@mixin font-face($font-family, $font-file, $weight) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.ttf') format('truetype');
    font-weight: $weight;
    font-style: normal;
  }
}
