@import './variables';
@import './fonts';

* {
  vertical-align: baseline;
  font-family: 'Gilroy', 'Segoe UI', sans-serif;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

body {
  background-color: $Primary;
  color: $Secondary;
}

h1 {
  text-align: center;
  // font-family: 'Gilroy';
  font-weight: 100;
}
