@import '../../styles/mixins';

.root {
  margin-top: 112px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media(xs) {
    padding: 0 8vw;
  }

  @include media(sm) {
    padding: 0 8vw;
  }
}

.title {
  font-weight: 700;
  font-size: 4.125em;

  @include media(xs) {
    font-size: 3.125em;
  }
}

.infoContainer {
  max-width: 700px;
  margin: 24px 0px;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include media(xs) {
    flex-direction: column;
  }
}
