@import '../../../styles/mixins';

.root {
  position: fixed;
  width: 100vw;
  bottom: 0;
  padding: 24px 0;
  background-color: $Primary;
  font-weight: 700;
}

.ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0 6vw;
}

.icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  margin: 0 4px;
  cursor: pointer;

  a {
    color: grey;
    &:hover {
      color: #fff;
    }
  }
}
